.container { }
.container > ul { margin-left: 0.5em;}
.container > ul > li { background-color: var(--background-color-cream); }

.container > ul > li:hover,
.container > ul > li.on { background-color: var(--background-color-dark-green);  }

.container > ul > li > .wrap { padding: 0.5em; background-color: var(--background-color-dark-green); }
.container > ul > li:hover > .wrap,
.container > ul > li.on > .wrap { background-color: var(--background-color-cream); border-radius: 16px 0 0 16px;}

.container > ul > li:has(+ li:hover) > .wrap,
.container > ul > li:has(+ li.on) > .wrap { border-radius: 0 0 16px 0;}

.container > ul > li:hover + li,
.container > ul > li.on + li { }

.container > ul > li:hover + li > .wrap,
.container > ul > li.on + li > .wrap { border-radius: 0 16px 0 0 ;}

.container > ul > li > .wrap > a { font-weight: 500; }
.container > ul > li:hover > .wrap > a,
.container > ul > li.on > .wrap > a { color: var(--font-color-dark-green);}
