/** Font-face **/
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
/* 테스트용 폰트 */
@font-face {
  font-family: 'KronaOne';
  src: url('/fonts/KronaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100vh;
  font-size: 16px;
}
body {
  font-family: "NotoSansKR";
  font-weight: 400;
  height: 100vh;
  background-color: var(--background-color-dark-green);
}
#root {
  height: 100vh;
}



button {
	border: none;
    background-color: rgba(0, 0, 0, 0);
	color: var(--font-color-orange);
	font-weight: 600;
	cursor: pointer;
	padding: 0.5em 1em;
	border-radius: 6px;
}
button:hover {
	color: var(--font-color-dark-orange);
}

button.outline {
	border: 2px solid var(--border-color-orange);
}
button.outline:hover {
	border: 2px solid var(--border-color-dark-orange);
}


/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 8px;         /* 수직 스크롤바 너비 */
  height: 8px;        /* 수평 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 손잡이 (드래그 영역) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);  /* 투명도 있는 어두운 색 */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 스크롤바 모서리 (보통 필요 없음) */
::-webkit-scrollbar-corner {
  background: transparent;
}
